[Unit]
Description=AMLdigitalFPV streamer
After=network.target amlgsmenu.service

[Service]
Type=simple
ExecStart=/storage/streamer/amldigitalfpv.sh
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

